body {
  margin: 0px;
  transition: background-color 270ms linear;
}
.dark-theme li {
  border: 1px solid white;
}

.dark-theme {
  background-color: #242424;
  color: white;
  fill: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.theme {
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
}
